/*
 * Copyright (c) 2024 Alif Semiconductor
 * SPDX-License-Identifier: Apache-2.0
 */

#include "alif_b1_pm.dtsi"


/ {
     aliases {
             led0 = &myled0;
     };

     leds {
             compatible = "gpio-leds";
             myled0: led_0 {
                     gpios = <&gpio12 0 GPIO_ACTIVE_LOW>;
             };
     };
};

&gpio12 {
    status = "okay";
};
